{%extends 'base.html'%}

{% block content %}
<h1>{{book.title}}</h1>
  {% for author in book.author.all  %}
    <p>
      <b>Автор:</b>
      {{author.last_name}} {{author.first_name}}
    </p>
  {% endfor %}
  {{book.bookinstance_set.count}}
  {% for copy in book.bookinstance_set.all %}
  <p class="{% if copy.status.id == 1%} text-success
  {%elif copy.status.id == 2%} text-danger
  {%else%} text-warning
  {%endif%}">
  {{copy.status.id}}
  {{copy.get_status_display}}
  </p>
  {% endfor %}

{%if user.is_authenticated%}
    {% if is_favorite %}
        <form action="{% url 'delete_favorite' book.id %}" method="post">
        {% csrf_token %}
         <button type="submit" value={{book.id}} class="btn btn-outline-primary"><i class="bi bi-heart-fill"></i> Удалить из избранного</button>
        </form>
    {%else%}
        <form action="{% url 'add_favorite' book.id %}" method="post">
        {% csrf_token %}
        <button type="submit" value={{book.id}} class="btn btn-primary"><i class="bi bi-heart"></i> Добавить в избранное</button>
        </form>
    {%endif%}
{%endif%}

{% endblock  %}